* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

htlm {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: 18px;
    background-image: url("../public/img/pennywise-img.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}

.hero {
    width: 100%;
    height: 100%;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* Search input  */
.wrapper-input {
    margin-bottom: 20px;
}

.search-input {
    padding: 10px;
    width: 50%;
    background-color: aliceblue;
    border: none;
    border-radius: 15px;
    outline: none;
}

.search-input:active {
    outline: 3px solid blue;
}

/* Wrapper radio */

.wrapper-radio {
    display: flex;
}
.wrapper-input label:not(:last-child) {
    margin-right: 20px;
}
